<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') -%>
 <body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <%- include('partials/nav') -%>
        <div class="content-wrapper">
            <div class="container-fluid">
            <h1>Metricas</h1>
        <%- include('partials/footer'); %>
        <%- include('partials/logout-modal'); %>
        <%- include('partials/scripts'); %>
      </div>
    </tbody>
        <%- include('partials/footer'); %>
        <%- include('partials/logout-modal'); %>
        <%- include('partials/scripts'); %>
    
  </body>
</html>
