<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head'); -%>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <%- include('partials/nav') -%>

    <div class="content-wrapper">
      <div class="container-fluid">

        <% if (registro_borrado != null) { %>
          <%= "El registro fue eliminado" %>
          <br>
          <br>
        <% } %>

        <a href="/registros/new" class="btn btn-primary">
          Nuevo registro
        </a>

        <br>
        <br>

        <h2>
          Registros
        </h2>

        <table class="table">
          <thead>
            <th>
              id
            </th>

            <th>
              Usuario
            </th>

            <th>
              Empresa
            </th>

            <th>
              Archivo
            </th>

            <th>
              Acciones
            </th>
          </thead>

          <tbody>
            <% for (registro of registros) { %>
              <tr>
                <td>
                  <%= registro.id %>
                </td>

                <td>
                  <%= registro.user.nombre %>
                </td>

                <td>
                  <%= registro.empresa.nombre %>
                </td>

                <td>
                  <a href="/public/<%= registro.material_multimedia%>">
                    Descargar
                  </a>
                </td>

                <td>
                  <a href=<%= "/registros/delete/"  + registro.id%>>
                    Eliminar
                  </a>

                  <a href="<%= %>">
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <%- include('partials/footer'); %>
        <%- include('partials/logout-modal'); %>
        <%- include('partials/scripts'); %>
      </div>
  </body>
</html>
