<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head'); -%>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <%- include('partials/nav') -%>

    <div class="content-wrapper">
      <div class="container-fluid">

        <% if (registro_borrado) { %>
          <%= "El registro " + registro_borrado.id + " fue eliminado" %>
        <% } %>

        <table class="table">
          <thead>
            <th>
              id
            </th>

            <th>
              Usuario
            </th>

            <th>
              Empresa
            </th>

            <th>
              Acciones
            </th>
          </thead>

          <tbody>
            <% for (registro of registros) { %>
              <tr>
                <td>
                  <%= registro.id %>
                </td>

                <td>
                  <%= registro.getUser().name %>
                </td>

                <td>
                  <%= registro.getEmpresa().name %>
                </td>

                <td>
                  <a href=<%= "/registros/delete/"  + registro.id%>>
                    Eliminar
                  </a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <%- include('partials/footer'); %>
        <%- include('partials/logout-modal'); %>
        <%- include('partials/scripts'); %>
      </div>
  </body>
</html>
